<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d92a2a2802.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styleCategories.css">
    <title>RYZEN | Visores</title>
</head>
<body>
    <!-- Header -->
    <%- include('partials/headerNavbar') %>
    <%- include('partials/mobileNavBar') %>
    <!-- /Header -->
    <div class="categorieProductsTitle">
        <h1>Visores y accesorios</h1>
    </div>
    <section>
        <div class="container products-wrapper">
            <div class="row">
                <% for (let i = 0; i < products.length; i++) {%>
                <div class="divProduct col-12 col-sm-6 col-lg-4">
                    <section class="product-box">
                        <a href="/productos/<%= products[i].id %>">
                            <figure class="product-box_image">
                                <img src="/img/products/<%= products[i].img %>" alt="imagen de producto">
                            </figure>
                            <article class="product-box_data">
                                <h2>$<%= toThousand(products[i].price) %></h2>
                                <p><%= products[i].name %></p>
                                <span class="col-12">ENVÍO GRATIS</span>
                            </article>
                        </a>
                    </section>
                </div>
                <% } %>
            </div>
        </div>
    </section>
   
    <!--footer--> <br>
    <%- include('partials/footer') %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
    <script src="./public/js/js.js"></script>
    <script src="/js/search.js"></script>
</body>
</html>