<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://kit.fontawesome.com/d92a2a2802.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styleShopList.css">
    
    <title>RYZEN | Historial de compras</title>
</head>
<body>
    <!-- Header -->
    <%- include('partials/headerNavBar') %>
    <%- include('partials/mobileNavBar') %>
    <!-- /Header -->
    <div class="container historialBox">
        <div class="row carritoRow">
            <div class="col-12 carts">
                <section class="carritoSection">
                    <div class="carroDiv">
                        <div class="carritoTitulo col-lg-12">
                            <h2><span>Historial de compras</span></h2>
                        </div>
                        <% if (carts.length !== 0) { %>
                        <div>
                        <% carts.forEach(cart => { %>
                            <div class="carros">
                                <div class="prodCarrito col-lg-12">
                                    <div class="infoProdCarrito">
                                        <div class="wrapperHistorial">
                                            <h3> <%= (cart.createdAt).getDate() %>/<%= (cart.createdAt).getMonth() + 1 %>/<%= (cart.createdAt).getFullYear() %></h3>
                                            <div class="productList">
                                                <% cart.items.forEach(e => { %>
                                                <p class="productPrice"> <%= e.name %> - <%= e.quantity %> 
                                                    <% if(e.quantity == 1 ) { %>
                                                        <span> Unidad </span>
                                                    <%} else { %>
                                                        <span> Unidades </span>
                                                    <% } %>
                                                     - $<%= toThousand(e.price) %></p>
                                                <% } ) %>
                                            </div>
                                            <span class="precioHistorial"> $<%= toThousand(cart.total) %> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% })} else { %>
                        <p class="noCart">Aún no realizaste ninguna compra.</p>
                        <% } %>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- Footer-->
    <%- include('partials/footer') %>
    <!-- /Footer-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="/js/search.js"></script>
</body>
</html>